<!-- Sidebar -->
<ul class="sidebar navbar-nav">

  <!-- ホームメニュー -->
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'accounts:home' %}">
      <i class="fas fa-fw fa-home"></i>
      <span>HOME</span>
    </a>
  </li>

  <!-- 契約管理メニュー -->
  <li class="nav-item dropdown">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-chart-bar"></i>
      <span>契約管理</span>
    </a>
    <ul>
      <li><a class="dropdown-item" href="{% url 'contracts:contract' %}"><span>ご契約状況</span></a></li>
      {% comment %} <li><a class="dropdown-item" href="{% url 'manager:estimate' %}"><span>見積一覧</span></a></li> {% endcomment %}
      <li><a class="dropdown-item" href="{% url 'accounts:companyprofile' %}"><span>会社情報</span></a></li>
      {% comment %} <li><a class="dropdown-item" href="{% url 'payment:card_info' %}"><span>クレジットカード情報</span></a></li> {% endcomment %}
    </ul>
  </li>

  <!-- ユーザー管理メニュー -->
  <li class="nav-item dropdown">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-table"></i>
      <span>ユーザー管理</span>
    </a>
    <ul>
      <li><a class="dropdown-item" href="{% url 'accounts:user' %}"><span>ユーザー一覧</span></a></li>
      {% comment %} <li><a class="dropdown-item" href="{% url 'bulk:import' %}"><span>一括登録</span></a></li> {% endcomment %}
      {% comment %} <li><a class="dropdown-item" href="{% url 'bulk:delete' %}"><span>一括削除</span></a></li> {% endcomment %}
      {% comment %} <li><a class="dropdown-item" href="{% url 'bulk:update' %}"><span>一括変更</span></a></li> {% endcomment %}
      {% comment %} <li><a class="dropdown-item" href="{% url 'bulk:pass_update' %}"><span>一括パスワード変更</span></a></li> {% endcomment %}
    </ul>

  </li>

  <!-- お問い合わせメニュー -->
  <li class="nav-item active">
    {% comment %} <a class="nav-link" href="{% url 'manager:inquiry' %}"> {% endcomment %}
      <i class="fas fa-fw fa-info-circle"></i>
      <span>お問い合わせ</span>
    </a>
  </li>

</ul>
