{% extends "draganddrop/common//base.html" %}

{% load get_user_invoice_dept_name %}
{% load get_operation_user_name %}
{% load get_extention %}
{% load is_past_due %}

{% block content %}

<style>
	/*---------------------------------

    テーブル全体

    ---------------------------------*/
    /* テーブル */
    .table {
        width: 100%;
        table-layout: fixed;/* 固定レイアウト */
    }

    .table th,td{
        border-color: #fff !important;
        border: 2px solid #fff;
    }

    /* テーブル */
    .table thead th{
        vertical-align: middle;
    }

    /* モーダル内のテーブル */
    .table_modal {
        width: 100%;
        table-layout: fixed;
        background-color: #f8f9fa;
    }

    .table_modal td {
        border: 2px solid #ccc;
		height: 50px;
		width: 170px;
    }

    /* ボーダー */
    hr.style-one {
        border: 0;
        height: 1px;
        background: #494949;
    }

    .border_tite {
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .border_tite::after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: #494949;
        display: block;
    }

    .border_tite::after {
        margin-left: 15px;
    }

    /* 見出しセルの色 */
    .tr_head {
        {% comment %} background-color: #e9ecef; {% endcomment %}
        background-color: #d3e4f5;
    }

    /* 見出しセルの色 審査結果通知書 */
    .results_notification_tr_head {
        background-color: #f8f9fa;
        width: 250px;
    }

    .title_label {
        color: #595959;
        font-size: 0.85rem;
        margin-top: 3px;
    }

    .search_checkbox label {
        width: 280px;
        display: block;
        float: left;
    }

    .search_checkbox label input {
        margin-right: 0.5em;
    }

    .search_checkbox_lage label {
        width: 417px;
        display: block;
        float: left;
        margin-right: 25px;
    }

    .search_checkbox_small label input {
        margin-right: 0.5em;
    }

    .search_checkbox_small label {
        display: block;
        float: left;
        margin-right: 20px;
    }

    .font_color {
        color: #158ae6;
    }

    /* 給付情報モーダルの備考 input */
    .chg_bikou_input {
        height: 100px;
    }

</style>

<div class="d-flex flex-row bd-highlight mt-4 mb-5 top_bar" >
    <div class="top">
        <div class="tate mr-4" style="height:74px;"></div>
        <h1>申請内容</h1>
    </div>
</div>

<div class="">
	<table class="table_modal">
		<tbody>
			{% for approval_manage in approval_manage_qs %}
			<tr>
				<td rowspan="6" class="tr_head">
					申請概要
				</td>

				<tr>
					<td class="tr_head">申請件名</td>
					<td>
                    {% if approval_manage.upload_method == 1 %}<!-- 通常アップロード -->
                        {% if approval_manage.upload_manage.file_del_flag == 1 %}
                            <span class="file_title" data-toggle="tooltip" data-placement="right"
                                title="{{ approval_manage.upload_manage.title }}">{{ approval_manage.upload_manage.title }}
                            </span><br>
                            <p class="file_del_tag">ファイル削除済み</p>
                        {% elif approval_manage.upload_manage.end_date|is_past_due %}
                            <span class="file_title" data-toggle="tooltip" data-placement="right"
                                title="{{ approval_manage.upload_manage.title }}">{{ approval_manage.upload_manage.title }}</span><br>
                            <p class="expired_tag">期限切れ</p>
                        {% else %}
                            <span class="file_title" data-toggle="tooltip" data-placement="right"
                                title="{{ approval_manage.upload_manage.title }}">{{ approval_manage.upload_manage.title }}</span>
                        {% endif %}
                    {% elif approval_manage.upload_method == 2 %}<!-- URL共有 -->
                        {% if approval_manage.url_upload_manage.file_del_flag == 1 %}
                            <span class="file_title" data-toggle="tooltip" data-placement="right"
                                title="{{ approval_manage.url_upload_manage.title }}">{{ approval_manage.url_upload_manage.title }}
                            </span><br>
                            <p class="file_del_tag">ファイル削除済み</p>
                        {% elif approval_manage.url_upload_manage.end_date|is_past_due %}
                            <span class="file_title" data-toggle="tooltip" data-placement="right"
                                title="{{ approval_manage.url_upload_manage.title }}">{{ approval_manage.url_upload_manage.title }}</span><br>
                            <p class="expired_tag">期限切れ</p>
                        {% else %}
                            <span class="file_title" data-toggle="tooltip" data-placement="right"
                                title="{{ approval_manage.url_upload_manage.title }}">{{ approval_manage.url_upload_manage.title }}</span>
                        {% endif %}
                    {% elif approval_manage.upload_method == 3 %}<!-- OPT共有 -->
                        OPT共有
                    {% else %}<!-- ゲストアップロード -->
                        ゲストアップロード
                    {% endif %}
                    </td>
				</tr>

				<tr>
					<td class="tr_head">申請者</td>
					<td>{{ approval_manage.application_user|get_operation_user_name }}</td>
				</tr>

				<tr>
					<td class="tr_head">申請日時</td>
					<td>{{ approval_manage.application_date|date:'Y/m/d' }}
                        {{ approval_manage.application_date|date:'H:i' }}
                    </td>
				</tr>

				<tr>
					<td class="tr_head">コメント内容</td>
					<td>
                        {% if approval_manage.upload_method == 1 %}<!-- 通常アップロード -->
                            {{ approval_manage.upload_manage.message }}
                        {% elif approval_manage.upload_method == 2 %}<!-- URL共有 -->
                            {{ approval_manage.url_upload_manage.message }}
                        {% elif approval_manage.upload_method == 3 %}<!-- OPT共有 -->
                            {{ approval_manage.url_upload_manage.message }}
                        {% else %}<!-- ゲストアップロード -->
                            {{ approval_manage.url_upload_manage.message }}
                        {% endif %}
                    </td>
				</tr>

				<tr>
					<td class="tr_head">送付ファイル</td>
					<td>
                        {% if approval_manage.upload_method == 1 %}<!-- 通常アップロード -->
                            {% for file in approval_manage.upload_manage.file.all %}
                                {% with extention=file.name|get_extention %}
                                    {% if approval_manage.upload_manage.file_del_flag == 0 %}
                                        <a href="{{ file.upload.url }}" id="{{ file.id }}" class="urldownloadtable"
                                            download="{{ file.name }}" data-toggle="tooltip"
                                            data-url_downloadtable_id="{{ url_dest_user_data.id }}" data-placement="right"
                                            title="{{ file.name }}">{{ file.name | truncatechars:16 }}

                                            {% if extention == ".pdf" %}
                                                <a class="iframe" href="/static/js/pdfjs/web/viewer.html?file={{ file.upload.url }}"><i
                                                        class="fas fa-search"></i>
                                                </a>
                                            {% elif extention == ".jpeg" or extention == ".jpg" or extention == ".png" or extention == ".gif" or extention == ".svg"%}
                                                <a class="image" href="{{ file.upload.url }}"><i class="fas fa-search"></i></a>
                                            {% elif extention == ".txt" %}
                                                <a class="iframe" href="{{ file.pdffilemodel.upload.url }}"><i class="fas fa-search"></i></a>
                                            {%endif%}
                                        </a>
                                        <br>
                                    {% else %}<!-- ファイル削除済み -->
                                        <del data-toggle="tooltip" data-placement="right"
                                            title="{{file.name}}">{{ file.name | truncatechars:16 }}<br>
                                        </del>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}

                        {% elif approval_manage.upload_method == 2 %}<!-- URL共有 -->
                            {% for file in approval_manage.url_upload_manage.file.all %}
                                {% with extention=file.name|get_extention %}
                                    {% if approval_manage.url_upload_manage.file_del_flag == 0 %}
                                        <a href="{{ file.upload.url }}" id="{{ file.id }}" class="urldownloadtable"
                                            download="{{ file.name }}" data-toggle="tooltip"
                                            data-url_downloadtable_id="{{ url_dest_user_data.id }}" data-placement="right"
                                            title="{{ file.name }}">{{ file.name | truncatechars:16 }}

                                            {% if extention == ".pdf" %}
                                                <a class="iframe" href="/static/js/pdfjs/web/viewer.html?file={{ file.upload.url }}"><i
                                                        class="fas fa-search"></i>
                                                </a>
                                            {% elif extention == ".jpeg" or extention == ".jpg" or extention == ".png" or extention == ".gif" or extention == ".svg"%}
                                                <a class="image" href="{{ file.upload.url }}"><i class="fas fa-search"></i></a>

                                            {% elif extention == ".txt" %}
                                                <a class="iframe" href="{{ file.pdffilemodel.upload.url }}"><i class="fas fa-search"></i></a>
                                            {%endif%}
                                        </a>
                                        <br>
                                    {% else %}<!-- ファイル削除済み -->
                                        <del data-toggle="tooltip" data-placement="right"
                                            title="{{file.name}}">{{ file.name | truncatechars:16 }}<br>
                                        </del>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}

                        {% elif user_approval_manage.upload_method == 3 %}<!-- OPT共有 -->
                            OPT共有
                        {% else %}<!-- ゲストアップロード -->
                            ゲストアップロード
                        {% endif %}


					</td>
				</tr>
			</tr>

			<tr>
				<td rowspan="6" class="tr_head">
					承認概要
				</td>

				<tr>
					<td class="tr_head">ステータス</td>
					<td>
						{% if approval_manage.approval_status == 1 %}
                            未承認
						{% elif approval_manage.approval_status == 2 %}
                            一次承認済み
                        {% elif approval_manage.approval_status == 3 %}
                            最終承認済み
                        {% elif approval_manage.approval_status == 4 %}
                            差戻し
						{% else %}
                            キャンセル
						{% endif %}
					</td>
				</tr>

				<tr>
					<td class="tr_head">承認日時</td>
					<td>
						{% if not approval_manage.approval_date %}
							--------------
						{% else %}
							{{ approval_manage.approval_date|date:'Y/m/d' }}
                            {{ approval_manage.approval_date|date:'H:i' }}
						{% endif %}
                    </td>
				</tr>

			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<!--戻るボタン-->
<div class="d-flex flex-row mt-5 justify-content-center">
    <a class="return_top_btn" href="{% url 'draganddrop:approval_workflow' %}"><i class="fas fa-angle-left mr-2"></i>承認ワークフロー画面に戻る</a>
</div>


{% endblock %}

{% block extra_js %}


{% comment %} <script>
	$(document).ready(function(){
		$("#target").DataTable({
			"language":{//日本語化
				url:"https://cdn.datatables.net/plug-ins/1.11.5/i18n/ja.json",
			},
			ordering:false,//並び替え
			searching:false,//絞り込み検索
			paging:false,//ページ送り（無効化すると表示件数も停止する）
			lengthChange:false,//表示件数
			info:false,//総件数
		});//end datatables
	});//end ready
</script> {% endcomment %}

<script>
// -----------------
// Data table
// -----------------
$(document).ready(function(){
    $('#myTable').DataTable({
        "language": {
			url:"https://cdn.datatables.net/plug-ins/1.11.5/i18n/ja.json",
        }
    });
});

</script>

{% endblock %}