{% extends "draganddrop/common/base.html" %}

{% load static %}


{% block content %}
<div class="d-flex flex-row bd-highlight mt-4 top_bar mb-5" >
    <div class="top">
        <div class="tate mr-4" style="height:74px;"></div>
        <h1>個人管理画面</h1>
    </div>
</div>

<div class="d-flex  mb-4">
	<!-- <div class="tate mr-1 d-flex align-items-center"> -->
		<h1 class="ml-3">データ利用状況</h1>
	<!-- </div> -->
</div>

{% if personal_resource_management.count == 0 %}
	<div style="text-align: center; margin: 50px;">利用履歴がありません</div>
{% endif %}

{% for personal_resource_management in personal_resource_management %}

<!--データ使用量詳細-->
<div class="personal_resource_management_box">
		

		<div class="box3_resource_management mr-4">
			<div>アップロード件数</div>
			<div class="d-flex justify-content-center">
				<div class="box3_resource_management_value">{{personal_resource_management.number_of_active_upload_manage}}</div>
				<div class="box3_resource_management_unit">件</div>
			</div>
			<div>(無効:{{personal_resource_management.number_of_deactive_upload_manage}} 総数:{{total_upload_manage}})</div>
		</div>
	
		<div class="box3_resource_management mr-4">
			<div>URL共有件数</div>
			<div class="d-flex justify-content-center">
				<div class="box3_resource_management_value">{{personal_resource_management.number_of_active_url_upload_manage}}</div>
				<div class="box3_resource_management_unit">件</div>
			</div>
			<div>(無効:{{personal_resource_management.number_of_deactive_url_upload_manage}} 総数:{{total_url_upload_manage}})</div>
		</div>
	
		<div class="box3_resource_management mr-4">
			<div>ファイル合計サイズ</div>
			<div class="d-flex justify-content-center">
				{% if total_file_size <= 0 %}
				<div class="box3_resource_management_value">0</div>
				{% else %}
				<div class="box3_resource_management_value">{{total_file_size}}</div>
				{% endif %}
				<div class="box3_resource_management_unit">{{unit}}</div>
			</div>
		</div>

		<div class="box3_resource_management">
			<div>データ使用量</div>
			<div class="d-flex justify-content-center">
				{% if total_data_usage <= 0 %}
				<div class="box3_resource_management_value">0</div>
				{% else %}
				<div class="box3_resource_management_value">{{total_data_usage}}</div>
				{% endif %}
				<div class="box3_resource_management_unit">{{total_data_usage_unit}}</div>
			</div>
		</div>

</div>

{% endfor %}


<!--戻るボタン-->
<div class="d-flex flex-row justify-content-center mt-5">
    <a class="return_top_btn" href="{% url 'draganddrop:home' %}"><i class="fas fa-angle-left mr-2"></i>トップ画面に戻る</a>
</div>

{% endblock %}
