{% extends "draganddrop/common/base.html" %}


{% load static %}


{% block content %}
<div class="d-flex flex-row bd-highlight mt-4 mb-5 top_bar" >
    <div class="top">
        <div class="tate mr-4" style="height:74px;"></div>
        <h1>会社管理画面</h1>
    </div>
</div>
<div class="d-flex mt-5 mb-4" >
	<!-- <div class="tate mr-1 d-flex align-items-center"> -->
		<div class="ml-3 mr-3 mt-2">契約プラン</div>
		<h1>{{ resource_contract.plan }}</h1>
	<!-- </div> -->
</div>

{% if resource_management.count == 0 %}
	<div style="text-align: center; margin: 50px;">利用履歴がありません</div>
{% endif %}

{% for resource_management in resource_management %}
<div class="box1_resource_management mb-4">
	<!--基本情報-->
	<div class="contract_info_box">
		<div style="margin-bottom:15px;">契約内容詳細</div>
		<div class="d-flex">
			<p>会社名:</p> 
			{% if current_user.company.pic_corp_class == '1' %} <!--法人だったら、else個人-->
				{% if current_user.company.pic_legal_personality == '99' or current_user.company.pic_legal_personality == '' %}  <!-- 法人格が「その他」か記載なし -->
					<p class="ml-2" data-toggle="tooltip" data-placement="right" title="{{ current_user.company.pic_company_name }}" style="color: #005392;">	{{ current_user.company.pic_company_name | truncatechars:16 }}
					</p>
				{% else %} <!-- 法人格「その他」以外 株式会社など -->
					{% if current_user.company.pic_legal_person_posi == '1' %} <!--法人格の位置：前-->
						{% with current_user.company.get_pic_legal_personality_display|add:current_user.company.pic_company_name as COMPNAME %}
							<p class="ml-2" data-toggle="tooltip" data-placement="right" title="{{ COMPNAME }}" style="color: #005392;">
								{{ COMPNAME | truncatechars:16 }}
							</p>
						{% endwith %}
					{% else %} <!-- 法人格の位置：後ろ -->
						<!-- <p class="ml-2" data-toggle="tooltip" data-placement="right" title="{{ current_user.company.pic_company_name }}{{ current_user.company.get_pic_legal_personality_display }}" style="color: #005392;">
						{{ current_user.company.pic_company_name | truncatechars:12 }}{{ current_user.company.get_pic_legal_personality_display }}
						</p> -->
						{% with current_user.company.pic_company_name|add:current_user.company.get_pic_legal_personality_display as COMPNAME %}
							<p class="ml-2" data-toggle="tooltip" data-placement="right" title="{{ COMPNAME }}" style="color: #005392;">
								{{ COMPNAME | truncatechars:16 }}
							</p>
						{% endwith %}
					{% endif %}
				{% endif %}
			{% elif current_user.company.pic_corp_class == '2' %}<!--個人だったら-->
				<p class="ml-2" data-toggle="tooltip" data-placement="right" title="{{ current_user.company.pic_company_name }}" style="color: #005392;">
				{{ current_user.company.pic_company_name | truncatechars:16 }}
				</p>
			{% endif %}
		</div>
		<div class="d-flex align-items-center">
			<div class="balloonoya">
				<p><span class="title_color" style="font-weight: bold;">使用可能容量</span>:</p>
				<span class="balloon">「使用可能容量」とは残りの空いている容量のことです。</span>
			</div>
			<p class="tooltip_font ml-2" style="color: #005392;">
				{{ resource_detail.capacity }} GB
			</p>
		</div>
		<div class="d-flex">
			<p>URL共有:</p> 
			<p class="ml-2" style="color: #005392;">
				{% if resource_detail.url_share == 1 %}
					共有可能
				{% else %}
					共有不可
				{% endif %}
			</p>
		</div>
		<div class="d-flex">
			<p>ダウンロード期限:</p> 
			<p class="ml-2" style="color: #005392;">
				{% if resource_detail.dl_limit == NULL %}
					無制限
				{% else %}
					{{ resource_detail.dl_limit }} 日間
				{% endif %}
			</p>
		</div>
		<div class="d-flex">
			<p>ユーザー数上限:</p> 
			<p class="ml-2" style="color: #005392;">
				{% if resource_detail.user_limit == NULL %}
					無制限
				{% else %}
					{{ resource_detail.user_limit }} 人
				{% endif %}
			</p>
		</div>
		<div class="d-flex">
			<p>契約終了日:</p> 
			<p class="ml-2" style="color: #005392;">{{ resource_contract.contract_end_date}}</p>
		</div>
		<div class="d-flex">
			<p>ワンタイムパスワード:</p> 
			<p class="ml-2" style="color: #005392;">
				{% if one_time_pw == 1 %}
					利用可能
				{% else %}
					利用不可
				{% endif %}
			</p>
		</div>
		<div class="d-flex">
			<p>管理機能:</p> 
			<p class="ml-2" style="color: #005392;">
				{% if manage == 1 %}
					あり
				{% else %}
					なし
				{% endif %}
			</p>
		</div>
		<div class="d-flex">
			<p>最大ファイルサイズ:</p> 
			<p class="ml-2" style="color: #005392;">
				
			</p>
		</div>
		<div class="d-flex">
			<a href="http://localhost:8000/contract/" target="_blank" rel="noopener noreferrer" style="font-size: 16px; color: #212529;">契約内容の変更はこちら<i class="fa-solid fa-arrow-up-right-from-square ml-1" style="color: #005392;"></i>
			</a>
		</div>
	</div>
	
	<!--円グラフ-->
	<div class="pie_chart_box">
		<div class="myChart_container">
			<canvas id="myChart"></canvas>
		</div>
	</div>
	
	<!--ディスク使用量-->
	<div class="disk_capacity_box"> 
		<div style="font-weight: normal; font-size: 25px;">ディスク使用量</div>
		<!-- <div class="d-flex amount_used"> -->
		<div class="amount_used">
				{% if total_size <= 0 %}
					<div class="number_of_disk_capacity">0</div> 
				{% else %}
					<div class="number_of_disk_capacity">{{total_size}}</div> 
				{% endif %}
				<div class="disk_capacity_box_unit">{{total_size_unit}}</div>
		</div>
		{% if remaining_capacity <= 0 %}
			<div class="amount_of_space balloonoya">
				<p>
					(<span class="title_color" style="font-weight: bold;">残容量</span>
					: 0{{remaining_capacity_unit}}/{{ resource_detail.capacity }}GB )
				</p>
				<span class="balloon">「残容量」とは残データ容量の内訳のことです。</span>
			</div>
			{% else %}
			<div class="amount_of_space balloonoya">
				<p>
					(<span class="title_color" style="font-weight: bold;">残容量</span>
					: {{remaining_capacity}}{{remaining_capacity_unit}}/{{ resource_detail.capacity }}GB )
				</p>
				<span class="balloon">「残容量」とは残データ容量の内訳のことです。</span>
			</div>
		{% endif %}
	</div>



</div>

<!--データ使用量詳細-->
<div class="box2_resource_management">

	<div class="box3_resource_management mr-4">
		<div>登録ユーザー数</div>
		<div class="d-flex justify-content-center">
			<div class="box3_resource_management_value">{{number_of_user}}</div>
			<div class="box3_resource_management_unit">/50</div>
		</div>
	</div>

	<div class="box3_resource_management mr-4">
		<div>アップロード件数</div>
		<div class="d-flex justify-content-center">
			<div class="box3_resource_management_value">{{resource_management.number_of_active_upload_manage}}</div>
			<div class="box3_resource_management_unit">件</div>
		</div>
		<div>(無効:{{resource_management.number_of_deactive_upload_manage}} 削除済:{{resource_management.number_of_removed_upload_manage}} 総数:{{total_upload_manage}})</div>
	</div>

	<div class="box3_resource_management mr-4">
		<div>URL共有件数</div>
		<div class="d-flex justify-content-center">
			<div class="box3_resource_management_value">{{resource_management.number_of_active_url_upload_manage}}</div>
			<div class="box3_resource_management_unit">件</div>
		</div>
		<div>(無効:{{resource_management.number_of_deactive_url_upload_manage}} 削除済:{{resource_management.number_of_removed_url_upload_manage}} 総数:{{total_url_upload_manage}})</div>
	</div>

	<div class="box3_resource_management">
		<div>ファイル合計サイズ</div>
		<div class="d-flex justify-content-center">
			{% if total_file_size <= 0 %}
			<div class="box3_resource_management_value">0</div>
			{% else %}
			<div class="box3_resource_management_value">{{total_file_size}}</div>
			{% endif %}
			<div class="box3_resource_management_unit">{{unit}}</div>
		</div>
	</div>

</div>

{% endfor %}

<!--戻るボタン-->
<div class="d-flex flex-row justify-content-center">
	<a class="return_top_btn" href="{% url 'draganddrop:home' %}"><i class="fa-solid fa-angle-left mr-2"></i>トップ画面に戻る</a>
</div>

{% endblock %}

{% block extra_js %}

<script>

// -----------------
// 円グラフ
// -----------------

$(function () {
	const ctx = document.getElementById('myChart')
	const percentage = {{ total_percentage }}
	new Chart(ctx, {
		type: 'doughnut',
		data: {
			datasets: [{
				data: [percentage, 100 - percentage],
				backgroundColor: [
				'#005392',
				'#D9D9D9',
				],
				borderWidth: 0
			}]
		},
		options: {
			//グラフの太さ変更
			cutout: '70%'
		},
		plugins: [{
			id: 'text',
			beforeDraw(chart, args, options) {
				const { ctx, chartArea: { top, right , bottom, left, width, height } } = chart;
				ctx.save();
				ctx.fillStyle = '#005392';
				ctx.fillRect(width / 2, top + (height / 2), 0, 0);
				ctx.font = '75px sans-serif';
				ctx.textAlign = 'center';	
				ctx.fillText(`${percentage}%`, width / 2, top + (height / 2));		
			},
		}]
	})
});

</script>
 

{% endblock %}