{% extends "draganddrop/common/base.html" %}

<body>

    {% block content %}
    
    <!-- フォームを定義 -->
    {% comment %} <form action="{% url 'draganddrop:cl_management' %}" method="POST" class="mt-5">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="送信">
    </form>  {% endcomment %}
    

    {% comment %} <table> {% endcomment %}
        {% comment %} <form action="{% url 'draganddrop:cl_management' %}" method="POST" class="mt-5"> {% endcomment %}
        <div class="mt-5">
            {% for field in form %}
                {% comment %} <tr> {% endcomment %}
                    {% comment %} <th>{{ field.label }}:</th> {% endcomment %}
                        <p>{{ field.label }}
                            {% if field.field.required %}
                                <span class="required_label def">必須</span>
                            {% else %}
                                <span class="optional_label def">任意</span>
                            {% endif %}
                            :{{ field }}

                        </p>
                    {% comment %} <td>{{ field }}</td>
                    <td>{% if field.field.required %}必須{% endif %}</td> {% endcomment %}
                </tr>
            {% endfor %}

            <input type="submit" value="送信">
            
        </div>
        {% comment %} </form> {% endcomment %}
    {% comment %} </table> {% endcomment %}
    
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>