old/
# media/
# *.pyc
# *.pyo
# __pycache__
# __init__.py

# node_modules/
# migrations/
# uploads/
# file/

# mysql/my.cnf

# db.sqlite3
# _*

old/
media/
*.pyc
*.pyo
__pycache__
__init__.py

node_modules/
migrations/
uploads/
.env
nginx/log/access.log
nginx/log/error.log